.Form{
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #202124;
font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
background: #fff;
border: none;
width: 224px;
height: 500px;
padding: 0px 50px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
//extra large
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #202124;
font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
background: #fff;
border: 1px solid #dadce0;
border-radius: 8px;
width: 448px;
height: 500px;
padding: 48px 40px 36px;
}


.signin_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
//extra large
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.signin_p1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {

}
//extra large
padding-bottom: 0;
padding-top: 16px;
color: #202124;
font-size: 24px;
font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
font-weight: 400;
line-height: 1.3333;
margin-bottom: 0;
margin-top: 0;
word-break: break-word;
text-align: center;
}


.signin_p2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
color: #202124;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.1px;
line-height: 1.5;
text-align: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
color: #202124;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.1px;
line-height: 1.5;
text-align: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
color: #202124;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.1px;
line-height: 1.5;
text-align: center;
}
//extra large
color: #202124;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.1px;
line-height: 1.5;
text-align: center;
}



.form_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {

}
//extra large

}


.form_forgot {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 border-radius: 4px;
 color: #1a73e8;
display: inline-block;
font-weight: 500;
letter-spacing: .25px;
outline: 0;
position: relative;
background-color: transparent;
cursor: pointer;
font-size: 14px;
text-align: left;
margin: 6px 8px;
padding: 2px 3px;
border: 0;
text-decoration: none;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 border-radius: 4px;
 color: #1a73e8;
display: inline-block;
font-weight: 500;
letter-spacing: .25px;
outline: 0;
position: relative;
background-color: transparent;
cursor: pointer;
font-size: 14px;
text-align: left;
margin: 6px 3px;
padding: 2px 3px;
border: 0;
text-decoration: none;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
 border-radius: 4px;
 color: #1a73e8;
display: inline-block;
font-weight: 500;
letter-spacing: .25px;
outline: 0;
position: relative;
background-color: transparent;
cursor: pointer;
font-size: 14px;
text-align: left;
margin: 6px 3px;
padding: 2px 3px;
border: 0;
text-decoration: none;
}
//extra large
 border-radius: 4px;
 color: #1a73e8;
display: inline-block;
font-weight: 500;
letter-spacing: .25px;
outline: 0;
position: relative;
background-color: transparent;
cursor: pointer;
font-size: 14px;
text-align: left;
margin: 6px 3px;
padding: 2px 3px;
border: 0;
text-decoration: none;
}




.learn_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {

}
//extra large

}


.learn_p1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 360px;
color: #202124;
font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
font-size: 14px;
line-height: 1.4286;
padding: 0;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 380px;
color: #202124;
font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
font-size: 14px;
line-height: 1.4286;
padding: 0;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
width: 380px;
color: #202124;
font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
font-size: 14px;
line-height: 1.4286;
padding: 0;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 10px;
}
//extra large
width: 380px;
color: #202124;
font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
font-size: 14px;
line-height: 1.4286;
padding: 0;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 10px;
}


.learn_p2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
margin: 0 -3px;
padding: 0 3px;
text-decoration: none;
border-radius: 4px;
color: #1a73e8;
display: inline-block;
 font-weight: 500;
letter-spacing: .25px;
outline: 0;
 position: relative;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
margin: 0 -3px;
padding: 0 3px;
text-decoration: none;
border-radius: 4px;
color: #1a73e8;
display: inline-block;
 font-weight: 500;
letter-spacing: .25px;
outline: 0;
 position: relative;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
margin: 0 -3px;
padding: 0 3px;
text-decoration: none;
border-radius: 4px;
color: #1a73e8;
display: inline-block;
 font-weight: 500;
letter-spacing: .25px;
outline: 0;
 position: relative;
}
//extra large
margin: 0 -3px;
padding: 0 3px;
text-decoration: none;
border-radius: 4px;
color: #1a73e8;
display: inline-block;
 font-weight: 500;
letter-spacing: .25px;
outline: 0;
 position: relative;
}



.create_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 180px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 200px;
}
//extra large
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 200px;
}



.create_a1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: .875rem;
letter-spacing: 0px;
font-weight: 500;
color: rgb(26,115,232);
text-decoration: none;
width: 100px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: .875rem;
letter-spacing: .0107142857em;
font-weight: 500;
color: rgb(26,115,232);
text-decoration: none;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: .875rem;
letter-spacing: .0107142857em;
font-weight: 500;
color: rgb(26,115,232);
text-decoration: none;
}
//extra large
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: .875rem;
letter-spacing: .0107142857em;
font-weight: 500;
color: rgb(26,115,232);
text-decoration: none;
}


.create_a2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    transition: border .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1);
    box-shadow: none;
    color: #fff;
    background: rgb(26,115,232);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    transition: border .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1);
    box-shadow: none;
    color: #fff;
    background: rgb(26,115,232);
    padding: 10px 20px;
    border-radius: 5px;
        text-decoration: none;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    transition: border .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1);
    box-shadow: none;
    color: #fff;
    background: rgb(26,115,232);
    padding: 10px 20px;
    border-radius: 5px;
        text-decoration: none;
}
//extra large
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    transition: border .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1);
    box-shadow: none;
    color: #fff;
    background: rgb(26,115,232);
    padding: 10px 20px;
    border-radius: 5px;
        text-decoration: none;
}










































